{% extends "index.html" %}
{% block title %}
<title>Forecast</title>
{% endblock %}
{% block body %}
<style>

    img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    }
    p {
        text-align:justify

    }

</style>
<section>
<h1>Contact</h1>
    <H3>Yared Hurisa</H3>
    <ul>Email: yaredlema@gmail.com</ul>
    <ul>Phone: 9842158353</ul>
    <ul>LinkedIn: https://www.linkedin.com/in/yared-lemma/</ul>
    <ul>GitHub: https://github.com/ylh4/ConflictForcastingModel</ul>

</section>
{% endblock %}
   
