{% extends "index.html" %}
{% block title %}
<title>Analysis</title>
{% endblock %}
<body>
{% block body %}
  <style>
    .class_1 { 
    margin-left: 20%;
    margin-right: 20%;
    }
    .class_2 { 
    margin-left: 20%;
    margin-right: 20%;
    }


  </style>
<section>
<h1>Analysis</h1>
<h3>Introduction</h3>
<p>Here, trends in conflict events are closely analyzed and presented for 
      a better understanding of the target variable.</p>  
<h3>Frequency of conflict</h3>
<div class="class_1">
  <div id = "frq"></div></div>
     <script>
           var spec = '/static/c_frequency_3.json';
           vegaEmbed("#frq", spec);
      </script>
<h3>Number of fatalities due to conflict</h3>
<div class="class_1">
  <div id = "fat"></div></div>
     <script>
           var spec = '/static/c_fatalities_3.json';
           vegaEmbed("#fat", spec);
      </script>
<h3>Intensity of conflict</h3>
<div class="class_1">
  <div id = "intensity"></div></div>
     <script>
           var spec = '/static/c_intensity_3.json';
           vegaEmbed("#intensity", spec);
 
      </script>

 <h3>Types of conflict events</h3> 

 <div class="class_1">
  <div id = "id2"></div> </div>
     <script>
         var spec = '/static/sub_event_1.json';
         vegaEmbed("#id2", spec);
      </script>
 <div class="class_1">
  <div id = "id3"></div> </div>
     <script>
           var spec = '/static/sub_event_2.json';
           vegaEmbed("#id3", spec);
 
      </script>
 <div class="class_1">
  <div id = "id4"></div> </div>
     <script>
           var spec = '/static/sub_event_3.json';
           vegaEmbed("#id4", spec);
      </script>

<div class="class_1">
  <div id = "id5"></div> </div>
     <script>
           var spec = '/static/sub_event_4.json';
           vegaEmbed("#id5", spec);
 
      </script>

<div class="class_1">
  <div id = "id6"></div> </div>
     <script>
           var spec = '/static/sub_event_5.json';
           vegaEmbed("#id6", spec);
 
      </script>
 <div class="class_1">
  <div id = "id7"></div> </div>
     <script>
           var spec = '/static/sub_event_6.json';
           vegaEmbed("#id7", spec);
 
      </script>
 {% endblock %}    
