{% extends "index.html" %}
{% block title %}
<title>Forecast</title>
{% endblock %}
{% block body %}
<style>

  #actl { 
    margin-left: 20%;
  }


</style>
<section>
<h1>Forecast</h1>
<h3>Introduction</h3>
<p>In this section, you will be able to forecast conflict on monthly basis.
  Additionally, the overall frequency of conflict in terms of number of 
  months in conflict from August 2020 to July 2021 is shown following 
  to the monthly forecast. </p>
<h3>Monthly</h3>
<p>Click the Forecast button after selecting the year and month.</p>

<form method = "POST" action="/Forecast/">
  <label for="conflictMonth">Enter  (month and year):</label>
  <input type="month" id="conflictmonth" name="conflictmonth"   min="2020-08" value="2020-08"
       max="2021-07">
  <input type="submit" value="Forecast">
</form>
<p>Forecast for <strong >{{ result }}</strong></p>
<div id = "actl"></div> 
     <script>

           var spec = '{{ path }}';
           vegaEmbed("#actl", spec);

 </script>

<h3>Annual</h3>

<div id = "id1"></div>
<script>
      var spec = '/static/forecast_1.json';
      vegaEmbed("#id1", spec);
 </script>

</section>
{% endblock %}
   


