{% extends "index.html" %}
{% block title %}

{% endblock %}
{% block body %}
<style>

</style>
<section>

<h1>Feature Importances</h1>
<h3>Introduction</h3>
<p>This section presents the twenty most important features that predicted 
  the onset of conflict in Ethiopia. The section ends by depicting the 
  relationship between the onset of conflict and the three most important features 
  in the model.
<h3>Most important features</h3>
    <div id = "pd"></div>
    <script>
          var spec = '/static/feature_importance_1.json';
          vegaEmbed("#pd", spec);
     </script>
   
</p>


    <style>
    * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .header {
      text-align: center;
      padding: 32px;
    }
    
    .row {
      display: -ms-flexbox; /* IE 10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE 10 */
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create two equal columns that sits next to each other */
    .column {
      -ms-flex: 50%; /* IE 10 */
      flex: 50%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
    }
    
    /* Style the buttons */
    .btn {
      border: none;
      outline: none;
      padding: 10px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
      font-size: 18px;
    }
    
    .btn:hover {
      background-color: #ddd;
    }
    
    .btn.active {
      background-color: #666;
      color: white;
    }
    </style>
  
  <h3>Relationship between conflict and input variables</h3> 
  <div class="header" id="myHeader">
    <p>Click on the buttons to change the grid view.</p>
    <button class="btn" onclick="one()">1</button>
    <button class="btn active" onclick="two()">2</button>

  </div>
  
  <div class="row"> 
    <div class="column">
      <img src="/static/analysis-frequency of conflict.png" style="width:80%">
      <img src="/static/analysis_population.png" style="width:80%">

    </div>
    <div class="column">
      <img src="/static/analysis-rainfall.png" style="width:80%">
      <img src="/static/analysis-landcover.png" style="width:80%">
    </div>  
  
  <script>
  // Get the elements with class="column"
  var elements = document.getElementsByClassName("column");
  
  // Declare a loop variable
  var i;
  
  // Full-width images
  function one() {
      for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "100%";  // IE10
      elements[i].style.flex = "100%";
    }
  }
  
  // Two images side by side
  function two() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "50%";  // IE10
      elements[i].style.flex = "50%";
    }
  }

  // Add active class to the current button (highlight it)
  var header = document.getElementById("myHeader");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  </script>
</section>
{% endblock %}      
</body>
</html>